/* body{
    background-color: #03cf88;
}

h1{
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2, h3{
    font-size: 28px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(44, 41, 41)
}

p{
    line-height: 30px;
}

img{
    border: 5px solid #000000;
    padding: 10px;
    margin: 20px;
} */

.active{
    border: 2px solid rgb(255, 1, 179);
    padding: 2px 2px 5px 2px;
}
.skip a{
    position: absolute;
    top: -100px;
}

.skip a:focus{
    position: static;
    border: 2px solid;
    bottom: 20px;
    width: auto;
    height: auto; 
}

.four-image-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: 5px solid purple;
    border-radius: 30px;
    padding: 15px;
}

.three-image-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 5px solid purple;
    border-radius: 30px;
    padding: 15px;
}

/* .two-image-grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 5px solid purple;
    border-radius: 30px;
    padding: 15px;
} */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.main-image{
    display: block;
    height: 50%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;   
}

.two-main-images-grid{
    display:grid;
    column-gap: 50px;
    grid-template-columns: 2fr 2fr;
    height:50%;
    width:50%;
    margin-right: auto;
    margin-left: auto;
}

/* .five-image-grid-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    padding: 70px;
    margin-bottom: 40px;
    border: 5px solid purple;
    border-radius: 30px;
} */



.new-york{
    display:inline-block;
    margin-top: 50px;
}

figure{
    width:100%;
    height:50%;
    margin-right: auto;
    margin-left: auto;    
}

img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

nav ul li{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

nav{
    border: 5px solid rgb(116, 0, 161);
    border-radius:30px;
    background-color: rgb(236, 220, 245);
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin: 10px;
}

body{
    background-color: rgb(255, 240, 240);
    font-family: 'Lucida Sans', sans-serif;
}
